{% extends "storage_app/base.html" %}
{% block body_block %}
{% load static %}
<div class="jumbotron">
    <h1>File Upload Page</h1>
</div>
<a href="{% url 'storage-logout' %}">Logout</a>
<!-- <p> <img src="{% static 'profilepic/Mypic_feb.jpg' }} %}" height="100" width="100" alt="My ProfilePic"> </p> -->
<p> <img src="{% url 'storage-home' %}" height="100" width="100" alt="My ProfilePic"> </p>
<p>{% url 'storage-home' %}+{{user_obj.profile_pic}}</p>

<div>
    <h3>Welome {{ user_obj.username }}</h3>
</div>


<table>
    <tr>
        <th>File Name:</th>
        <th> Date Upload:</th>
    </tr>
    {% for file in files %}
    <tr>
        <td>
            <p>Link: <a href="{{ file.encrypted_file }}">{{ file.encrypted_file }}</a></p>
        </td>
        <td>{{ file.date_uploaded }}</td>
    </tr>
    {% endfor %}


</table>





{% endblock body_block %}