{% extends "storage_app/base.html" %}
{% block body_block %}
<div class="jumbotron">
    <h1>Login Page</h1>
</div>
<div>
    <a class="nav-item nav-link " href="{% url 'storage-register' %}">Register</a>
</div>
<div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
        </div>

        <div>
            <label for="pass">Password (4 characters minimum):</label>
            <input type="password" id="pass" name="password" minlength="4" required>
        </div>
        <button type="submit">Signin</button>
    </form>
</div>

{% endblock body_block %}